@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Golos+Text:wght@400;500;600;700&family=Inter:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Golos Text", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: #141625;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

label {
  padding-bottom: 4px;
}

a {
  display: block;
}

textarea,
select,
input {
  outline: none;
  border: none;
  min-width: 0;
}
